.toast-mask{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.toast-content{
  padding: 8px 12px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  font-size: 14px;
  max-width: 80%;
  text-align: center;
  box-sizing: border-box;
  opacity: 0;
  font-family: 'Courier New', Courier, monospace;
}

